<footer>
  <p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo" width="16" height="16" style="vertical-align: middle; margin-right: 6px;">
    &copy; 2023 UNCC Car Meets. All rights reserved.
  </p>
  <a href="/contact">Contact Us</a>
  <a href="/about">About Us</a>
</footer>
